{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add New Task</title>
    <link rel="stylesheet" href="{% static 'TaskManager/css/global.css' %}">
<link rel="stylesheet" href="{% static 'TaskManager/css/form.css' %}">
</head>
<body>
    <h1>Add a New Task</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="task_name">Task Name:</label>
        <input type="text" id="task_name" name="task_name" required><br><br>

        <label for="task_description">Task Description:</label>
        <textarea id="task_description" name="task_description" required></textarea><br><br>

        <label for="task_status">Task Status:</label>
        <select id="task_status" name="task_status">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
        </select><br><br>

        <button type="submit">Add Task</button>
    </form>
</body>
</html>
