<!DOCTYPE html>
<html>
    <head>
        <title>Tasks List</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'TaskManager/css/global.css' %}">
        <link rel="stylesheet" href="{% static 'TaskManager/css/task_list.css' %}">
    </head>
    <body>
        <h1>Welcome, {{ first_name }}!</h1>
        <h1>Yours Tasks List</h1>

        <div class="container">
            {% for task in tasks %}
            <div class="task-card">
                <h2>{{ task.task_name }}</h2>
                <p>{{ task.task_description }}</p>

                <p class="task-status">
                    Status: 
                    {% if task.task_status == "Pending" %}
                        <span class="status-pending">{{ task.task_status }}</span>
                    {% elif task.task_status == "In Progress" %}
                        <span class="status-in-progress">{{ task.task_status }}</span>
                    {% elif task.task_status == "Completed" %}
                        <span class="status-completed">{{ task.task_status }}</span>
                    {% endif %}
                </p>

                <p>Created At: {{ task.created_at }}</p>
                <p>Updated At: {{ task.updated_at }}</p>

                <div class="actions">
                    <form method="GET" action="{% url 'edit_task' task.task_id %}">
                        <button class="btn-edit">Edit</button>
                    </form>
                    <form method="GET" action="{% url 'delete_task' task.task_id %}">
                        <button class="btn-delete">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>

        <div style="text-align: center; margin-top: 20px;">
            <form method="GET" action="{% url 'add_task' %}">
                <button class="btn-add">Add a New Task</button>
            </form>
        </div>
        <div style="text-align: right;">
            <form method="GET" action="{% url 'logout' %}">
                <button class="btn btn-add">Logout</button>
            </form>
        </div>
        
    </body>
</html>
